.avaialblesoon {
  background: linear-gradient(300deg,var(--bs-yellow),var(--bs-orange),var(--bs-red),var(--bs-yellow));
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logoanim {
  animation: myAnim 3.5s ease-in-out 1s infinite normal none;
}

@keyframes myAnim {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.social-icons img {
  width: 65px;
  margin: 10px;
  margin-top: 0px;
  transition: 0.4s;
  border-radius: 18px;
}

.social-icons img:hover {
  box-shadow: 0px 0px 16px 2px #ffffff5c;
}

.link-box {
  background: rgba(102,16,242,0.83);
  padding: 20px 10px;
  width: 100%;
  border-radius: 4px;
  border-bottom: 3px solid var(--bs-yellow);
  transition: 0.2s;
  display:block;
}

.link-box p {
  text-decoration: none;
  color: lightblue;
  font-size: 14px;
  transition: 0.5s;
  margin: 0px;
}

.link-box p:hover {
  color: var(--bs-yellow);
}

.link-box h5 {
  margin: 0px;
}

.link-box:hover {
  background: var(--bs-yellow);
}

.link-box:hover p {
  color: #000000;
}

@media (min-width: 350px) and (max-width: 767.98px) {
  .logoanim, .psyco-liogo {
    width: 325px;
  }
}

@media (min-width: 350px) and (max-width: 767.98px) {
  .ratinglogos img {
    height: 50px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logoanim, .psyco-liogo {
    width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ratinglogos img {
    height: 70px;
    margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .logoanim, .psyco-liogo {
    width: 540px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .ratinglogos img {
    height: 60px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .logoanim, .psyco-liogo {
    width: 560px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .ratinglogos img {
    height: 70px;
    margin-right: 10px;
  }
}

@media (min-width: 1400px) {
  .logoanim, .psyco-liogo {
    width: 590px;
  }
}

@media (min-width: 1400px) {
  .ratinglogos img {
    height: 70px;
    margin-right: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  width: 100% !important;
}

@media (max-width: 767.99px) {
  #carousel-1 p {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  #carousel-1 p {
    font-size: 24px;
  }
}

